<table class="layui-table">
    欢迎您登陆本后台管理系统！
                <thead>
                    <tr>
                        <th>
                            用户名
                        </th>
                        <th>
                            ip
                        </th>
                        <th>
                            访问时间
                        </th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>
                            {$list.name}
                        </td>
                        <td>
                            {$list.IP}
                        </td>
                        <td>
                            {$list.time}
                        </td>
                    </tr>
                </tbody>
            </table>